.env/
venv/
env/
__pycache__/
*.pyc
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
*.tmp
*.xml
.idea/misc.xml
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
